/* ======= {CONSULTATION TYPE SECTION START} ======= */
.consultation_type_section{
    padding: 105px 0px 106px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.consultation_type_section .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 89px;
}
.consultation_type_section .heading h2{
    color: #000;
    text-align: center;
    font-family: Syne;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.consultation_type_section .heading h3{
    color: #000;
    text-align: center;
    font-family: Syne;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.consultation_types{
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 101px;
}
.consultation_type_image{
    position: relative;
    z-index: 0;
    width: 510px;
    height: 350px;
}
.consultation_type_image img{
    width: 100%;
}
.consultation_type_image_2{}


.consultation_type_image .consultation_shape{
    position: absolute;
    top: -41px;
    left: -164px;
    z-index: -1;
    width: 475px;
    height: 430px;
}
.consultation_shape img{}
.consultation_shape_2{
    position: absolute;
    top: -41px;
    right: -164px;
    z-index: -1;
    width: 472px;
    height: 431px;
}
.consultation_type_image_2{
    position: relative;
    width: 510px;
    height: 350px;
}
.consultation_type_image_2 img{
    width: 100%;
}
.consultation_shape_2 img{
    width: 100%;
}
.consultation_type_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 37px;
}
.consultation_type_mini{
    width: 105px;
    height: 105px;
    border-radius: 15px;
    border: 3px solid #E2BA48;
    background: rgba(0, 0, 0, 0.71);

/* BG BLUR */
    backdrop-filter: blur(11px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: -26px;
    right: -14px;
    z-index: 1;
}
.consultation_type_mini_2 {
    width: 105px;
    height: 105px;
    border-radius: 15px;
    border: 3px solid #E2BA48;
    background: rgba(0, 0, 0, 0.71);
    backdrop-filter: blur(11px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: -26px;
    left: -14px;
    z-index: 1;
}
.consultation_type_mini h6, .consultation_type_mini_2 h6{
    color: #D4C6C6;
    text-align: center;
    font-family: Poppins;
    font-size: 23.276px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
.consultation_type_mini p, .consultation_type_mini_2 p{
    color: #E2BA48;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
.consultation_type_content h3, .consultation_type_mini_2 h3{
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
.consultation_type_content span{
    display: flex; 
    align-items: center;
    gap: 5px;
}
.consultation_type_content span p{
    color: #2F3B4B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.consultation_type_content span img{
    width: 24px;
    height: 24px;
}
.consultation_type_content p{
    color: #767676;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.consultation_type_content .booking_btn{
    display: flex;
    width: 288px;
    height: 60px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 100px;
    background: #E2BA48;
    margin: auto;
}
.consultation_type_content .booking_btn img{}
/* ======= {CONSULTATION TYPE SECTION END} ======= */





/* ======= {FAQ SECTION START} ======= */

.m-right{
    margin-right: 15px;
}
.faq_items{
    padding: 296px 172px;
}
.accordion-button{
    background-color: #FFFAF1 !important;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-body{
    background-color: #FFFAF1 !important;
}
.faq_heading{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}
.faq_heading h4{
    color: #000;
    font-family: Syne;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.faq_heading h5{
    color: #858585;
    font-family: Syne;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.faq_heading .line{
    position: absolute;
    display: block;
    height: 3px;
    width: 245px;
    background-color: black;
    left: 0;
    bottom: -15px;
    z-index: 1;
}

/* ======= {FAQ SECTION END} ======= */



/* ======= {FOOTER START} ======= */
footer{
    height: 363px;
    background: #000;
}
.footer_item_1{}
.footer_item_1 p{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer_item_1 .footer_icon svg{
    margin: 78px 0 28px;
}
.footer_item_2{}
.footer_item_2 h5{
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 74px;
}
.footer_item_2 ul{}
.footer_item_2 ul li{
}
.footer_item_2 ul li a{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer_item_2 ul .location_icon img{
    width: 15px;
    height: 23px;
    margin-right: 20px;
}
.footer_item_2 ul .global_icon img{
    width: 28px;
    height: 28px;
    margin-right: 8px;
}
.footer_item_2 ul .whatsapp_icon img{
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.footer_item_3{}
.footer_item_3 .input_field{
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
}
.footer_item_3 input, .footer_item_3 input:focus{
    outline: 0;
    border-radius: 9px;
    background: #FFF;
    height: 45px;
    padding: 42px;
}
.footer_item_3 input[placeholder]{
    color: #656565;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.footer_item_3 h6{
    color: #E2BA48;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 74px;
}
.footer_item_3 .icon{}
.footer_item_3 .icon img{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 30px;
    left: 14px;
    z-index: 9;
}
.footer_item_3 .newsletter_btn{
    border-radius: 100px;
    background: #D9D9D9;
    padding: 13px 40px;
}

/* ======= {FOOTER END} ======= */




