/* ======= {TYPE OF CONSULTATION SECTION START} ======= */
.consultation_type_section {
    padding: 105px 0px 106px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consultation_type_section .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 89px;
}

.consultation_type_section .heading h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Syne;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.consultation_type_section .heading h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Syne;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.consultation_type_wrapper{}
.consultation_types{
    display: flex;
    align-items: center;
    /* gap: 60px; */
}
.consultation_type_image{
}
.consultation_shape, .consultation_shape_2{
    width: 475px;
    height: 430px;
    position: relative;
    z-index: 0;
}
.consultation_shape img{}

.consultation_type_content .consultation_btn .icon{
}
.consultation_type_content .consultation_btn .icon img{}
 

/* ======= {TYPE OF CONSULTATION SECTION END} ======= */


/* ======= {UPLOAD PICTURE SECTION START} ======= */
.upload_picture_section {
    background-image: url(/assets/images/img/hairstyle_top_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    position: relative;
}
.upload_picture_section::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 220px;
    background-color: #E2BA48;
    z-index: 0;
}

.form_field {
    padding: 25px 50px;
    border-radius: 30px;
    border: 1px solid rgb(226, 186, 72);
    background: linear-gradient(rgba(0, 0, 0, 0.9) 55%, rgba(102, 102, 102, 0.9) 100%);
    backdrop-filter: blur(11px);
}

.top_form {
}

.top_form form {
}

.top_form .input_field {
    position: relative;
}

.top_form .input_field label {
}

.top_form .input_field input {
}
.input_field input::placeholder{
    color: #7A6565;
}

.top_form h4 {
    color: rgb(226, 186, 72);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 25px 0 40px;
}

.top_form label {
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 20px;
    padding: 0px 5px;
    background-color: #050505;
    color: #fff;
}

.top_form input {
    padding: 20px 15px;
    position: relative;
    z-index: 0;
    background-color: transparent;
}

.bottom_form {
}

.bottom_form h4 {
    color: rgb(226, 186, 72);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.bottom_form form {
}

.bottom_form input {
    background-color: transparent;
}

.bottom_form button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 100px;
    background: linear-gradient(0deg, #E2BA48 0%, #E2BA48 100%);
    color: #000;
}
.bottom_form button:hover{
    background: transparent;
    color: #E2BA48;
    border: 1px solid #E2BA48;
}

.form-control:focus {
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
}
.hair_style_field{
    margin-left: auto;
    padding-left: 40px;
}
.hair_style_field h4{
    color: #FFF;
    font-family: Syne;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 85px;
}
.hair_styles{
    position: relative;
    z-index: 1;
}
.hair_style{
    border-radius: 12px;
    background: #000;
    width: 100%;
    height: 180px;
    margin: auto;
}
.hair_style_item{
    border-radius: 14px;
    background: #2F3B4B;
    text-align: center;
    padding: 15px;
    margin: 10px;
}
.hair_style_item img{
    margin-top: -45px;
    padding: 20px 35px;
}
.hair_style_item p{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
}
/* ======= {UPLOAD PICTURE SECTION END} ======= */


/* ======= {FAQ SECTION START} ======= */
.m-right {
    margin-right: 15px;
}
.accordion-button {
    background-color: rgb(255, 250, 241) !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    background-color: rgb(255, 250, 241) !important;
}

.faq_heading {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}

.faq_heading h4 {
    color: rgb(0, 0, 0);
    font-family: Syne;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.faq_heading h5 {
    color: rgb(133, 133, 133);
    font-family: Syne;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.faq_heading .line {
    position: absolute;
    display: block;
    height: 3px;
    width: 245px;
    background-color: black;
    left: 0px;
    bottom: -15px;
    z-index: 1;
}
/* ======= {FAQ SECTION END} ======= */


/* ======= {FOOTER START} ======= */
footer {
    background: rgb(0, 0, 0);
}

.footer_item_1 {
}

.footer_item_1 p {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_item_1 .footer_logo img {
    margin: 78px 0px 28px;
}

.footer_item_2 {
}

.footer_item_2 h5 {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 74px 0 30px;
}

.footer_item_2 ul {
}

.footer_item_2 ul li {display: flex;align-items: center;gap: 10px;margin-bottom: 15px;}
.footer_item_2 ul li .icon{height: 40px;width: 40px;background: #1f1f1f;border-radius: 50%;display: flex;align-items: center;justify-content: center;}
.footer_item_2 ul li p{color: #FFF;font-family: Poppins;font-size: 16px;font-style: normal;font-weight: 400;line-height: normal;}

.footer_item_3 {
}

.footer_item_3 .input_field {
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
}

.footer_item_3 input, .footer_item_3 input:focus {
    outline: 0px;
    border-radius: 9px;
    background: rgb(255, 255, 255);
    padding: 25px 45px;
}

.footer_item_3 input[placeholder] {
    color: rgb(101, 101, 101);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 5px 20px 5px 50px;
    width: 100%;
    height: 45px;
}

.footer_item_3 h6 {
    color: rgb(226, 186, 72);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 74px 0 15px;
}

.footer_item_3 .icon img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 11px;
    left: 15px;
    z-index: 9;
}

.footer_item_3 .newsletter_btn {
    border-radius: 100px;
    background: rgb(217, 217, 217);
    padding: 13px 40px;
    transition: .4s;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer_item_3 .newsletter_btn:hover{
    background-color: transparent;
    border: 1px solid rgb(217, 217, 217);
    color: rgb(217, 217, 217);
}
/* ======= {FOOTER END} ======= */
